@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --back-color : #E1E151;
    --text-color : #3A3A3A;
}

body {
    margin: 0px;
    font-family: 'Acme' , sans-serif;
    color: var(--text-color);
}

h1,h2,h3,p {
    margin: 0px;
}

/* textarea */

textarea {
    width: 100%;
    display: block;
    padding: 1rem;
    font-family: inherit;
    min-height: 20vh;
    font-size: 16px;
}


/* containers */
.centered-container {
    text-align: center;
}

/* seciton */

.section {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}

.section .translate-output {
    min-height: 10vh;
    max-height: 20vh;
}
/* navigations */
.navigation {
    background-color: var(--back-color);
    text-align: center;
    margin-bottom: 32px;
    display: block;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}

.heading img {
    max-width: 32px;
}

/* button */

button {
    border: none;
    padding: 16px;
    background-color: var(--back-color);
    font-size: 18px;
    font-family: inherit;
    color : var(--text-color);
    margin-top: 12px;
    margin-bottom: 24px;
}


/* footer */

footer {
    bottom: 0px;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 1rem;
    background-color: var(--back-color);
}

footer p{
    max-width: 600px;
    margin: auto;
}